@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

body {
  background-color: #000;
  color: #fff;

  font-family: "Golos Text", sans-serif;
  font-style: normal;
  font-weight: 400;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: "Golos Text", sans-serif;
  font-style: normal;
}

input file-upload-button {
  background-color: blue;
}

.Mui-selected svg {
  color: #20c997;
}

.MuiLoadingButton-loading {
  background-color: #babbbb !important;
}

.MuiDialog-paper {
  background-color: #252525 !important;
}

.files-ui-file-card-main-container {
  background-color: rgb(232, 231, 231);
}
