@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
body > div {
  height: 100%;
}

a {
  text-decoration: none;
  display: block;
}

button {
  outline: none;
  border: none;
  font-family: "Golos Text", sans-serif;
  font-style: normal;
  background-color: transparent;
  color: #333;
}

button:active {
  transform: scale(1.1);
}

body {
  background-color: #f2f2f2;
  color: #333;

  font-family: "Golos Text", sans-serif;
  font-style: normal;
  font-weight: 400;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: "Golos Text", sans-serif;
  font-style: normal;
}

input file-upload-button {
  background-color: blue;
}
