.title {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 800;
}

/* .daysButtonsBox {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
} */

.settingsTabsBox {
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid #333; */
  border-radius: 10px;
}

.settingTab {
  padding: 9px 15px;
  height: 100%;
  transition: all 0.3s ease;
  font-size: 13px;
  font-weight: 800;
}
.activeTab {
  background-color: #333;
  color: #fff;
}

.appointmentsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
