.checkboxContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 15px;
  background: rgba(232, 231, 231, 0.36);
  justify-content: center;

  padding: 25px 40px;
  gap: 35px;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
}

.checkboxInput {
  width: 22px;
  height: 22px;
}
