.input {
  background-color: transparent;
  border-bottom: 2px solid rgb(147, 147, 147);
  font-size: 18px;
  font-weight: 400;
  width: 250px;
}

.input::placeholder {
  color: rgb(147, 147, 147);
  font-size: 18px;
  font-weight: 400;
}
