.input {
  width: 283px;
  font-size: 16px;
  font-weight: 500;

  word-wrap: break-word;
  overflow-wrap: break-word;

  padding: 5px 20px;
  border-radius: 15px;
  background: rgb(232, 231, 231);
}

.input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgb(148, 148, 148);
}

.textarea {
  width: 315px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 15px;
  background: rgb(232, 231, 231);
  resize: none; /* Запрещает изменение размера textarea пользователем */
  min-height: 50px; /* Минимальная высота textarea */
  overflow-y: hidden; /* Скрываем вертикальный скроллбар */
}

.inputWrapper {
  position: relative;
}

.error {
  background-color: rgba(255, 0, 0, 0.2); /* Прозрачный красный фон */
}

.errorText {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: rgb(243, 80, 80);
  font-size: 14px;
}
