.settingsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingBox {
  margin-top: 35px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additionalText {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
}

.additionalText span {
  font-weight: 800;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title span {
  font-size: 12px;
}

.titleAddress {
  margin-top: 50px;
  text-align: center;
}

.addressImgBox {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addImgBox {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 25px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 155px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.buttonBack span {
  background-color: rgb(5, 6, 45);
  padding: 10px 24px;
  border-radius: 23px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.buttonNext span {
  background-color: transparent;
  padding: 10px 24px;
  border-radius: 23px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:disabled {
  background: gray;
  pointer-events: none;
}

.errorText {
  color: red;
}

.slideInRight {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
