.titleBox {
  margin-top: 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-right: 25px;
}

.addButton {
  position: absolute;
  left: 150px;
}

.serviceBox {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
