.service {
  width: 305px;
  border-radius: 15px;
  background: rgb(230, 230, 230);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}

.rowButton {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.text {
  font-size: 14px;
  font-weight: 800;
}

.button {
  padding: 2px 13px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  font-weight: 700;

  border-radius: 9px;

  background: #333;
}

.icon {
  width: 21px;
}
