/* ClockComponent.module.css */

.clockContainer {
  margin-top: 20px;
}

.clock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hour {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.selectedHour {
  background-color: lightblue;
}
<<<<<<< HEAD

.inactive {
  background-color: rgb(143, 84, 84);
}
=======
>>>>>>> cdf2c10558295bb33f88a23a4d7e3cf131e5e0ef
