/* ClockComponent.module.css */

.clockContainer {
  margin-top: 30px;
  max-width: 355px;
}

.clock {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.hour {
  border: 1px solid #333;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  width: 67px;
  padding: 5px 0 5px 0;

  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

.hour:hover {
  background-color: #ececec;
}

.inactive {
  background-color: #d04e70;
  color: #fff;
  border: none;
}

.selectedHour {
  border: none;
  background-color: #409fb5;
  color: #fff;
  font-weight: 800;
}

.selectedHour:hover {
  background-color: #347d8d;
}

.buttonsBox {
  margin-top: 25px;
  width: 321px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.buttonChange {
  color: #fff;
  background-color: #409fb5;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 800;
  width: 120px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.buttonChange_un {
  background-color: #d04e70;
}

.buttonChange_disabled {
  background-color: gray;
  pointer-events: none;
}

.hidden {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
